<app-header></app-header>
<app-loader *ngIf="isLoading"></app-loader>
<form>
  <div class="container common-home-body">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form mx-auto">
          <div class="row">
            <div class="col-3 img-logo text-end">
              <img
                role="button"
                (click)="homeNavigate()"
                src="https://res.cloudinary.com/dctb1eocj/image/upload/v1723453744/avatar/logo_q8zea4.png"
              />
            </div>
            <div class="col-7 align-items-center d-flex">
              <h2 class="reset-header">Reset Password</h2>
            </div>
          </div>

          <div class="divider"></div>
          <div class="form-group mb-2">
            <label for="phoneNumber">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
              placeholder="Enter your email"
              id="email"
            />
          </div>

          <div class="my-5 text-center">
            <button
              (click)="requestResetPassword()"
              class="btn btn-warning btn-round-2"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>
<router-outlet></router-outlet>
