.login-form {
    background-color:#fff;
    border-radius: 10px;
    padding: 40px;
    border: 1px solid #ebe5e5;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 16px 0px #888888;
   
}
.reset-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem; 
}
.login-form .btn-warning{
    padding: 15px 7rem;
    
    font-size: 1rem;
}
.password-field {
    position: relative;
}
.password-toggle {
    position: absolute;
    top:70%;
    right: 10px;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
}
.checkbox-text {
    color: rgb(243, 165, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color:rgb(243, 165, 42);
}
.register-link {
    color: #2ecc71;
    text-decoration: none;
}

.login-form .img-logo img{
    width: 55px;
    margin-left: auto;
    border-radius: 50%;
}

.otp-field {
    display: flex;
}

.otp-field input {
    width: 36px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid rgb(243, 165, 42);
    background: #fff;
    font-weight: bold;
    outline: none;
    transition: all 0.1s;
}

.otp-field input:focus {
    border: 2px solid rgb(243, 165, 42);
    box-shadow: 0 0 2px 2px rgb(243, 165, 42);
}

.disabled {
    opacity: 0.5;
}

.space {
    margin-right: 1rem !important;
}