.register-form {
    background-color:rgb(35,47,62);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    max-width: 620px;
    /* border: 1px solid #232f3e; */
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 16px 0px #888888;
    
    
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
    
}
.register-form .btn-warning{
    padding: 15px 7rem;
    
    font-size: 1rem;
}
.password-field {
    position: relative;
}
.checkbox-text{
    font-size: 13px;
}
.password-toggle {
    position: absolute;
    top:70%;
    right: 10px;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
}
.checkbox-text {
    color: rgb(243, 165, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color:rgb(243, 165, 42);
}
.register-link {
    color: #2ecc71;
    text-decoration: none;
}


.register-form .img-logo img{
    width: 55px;
    margin-left: auto;
    border-radius: 50%;
}
