.navbar {
    
    background-color: #F0F1F3;
   color: #575757;
    padding: 5px;
     /* Full viewport height */
     /* Keep it fixed on the right side */
    right: 0;
    top: 0;
    margin-left: auto;
    align-items: center;
}

.navbar h2 {
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    width: 100%;
}

.navbar ul li {
    margin: 10px 0;
}

.navbar ul li a {
    color: #575757;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}

.navbar ul li a:hover {
    background-color: #4E73DF;
    color: #F0F1F3;
}
.dropdown-menu {
    left: -30px;
}