<div class="row admin-home-body m-0">
  <div class="col-2 bg-side-bar p-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-10 p-0">
    <app-admin-header></app-admin-header>
    <div class="container common-home-body">
      <div class="row">
        <div class="text-center">
          <h3 class="fst-italic mb-5">My Profile</h3>
        </div>
        <div class="col-md-3 m-3">
          <img
            src="https://res.cloudinary.com/dctb1eocj/image/upload/v1723453744/avatar/logo_q8zea4.png"
            alt="Avatar"
            class="avatar"
          />
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-3">
              <div class="profile-user">
                <p>FullName</p>

                <p>Address</p>
                <p>Date of Birth</p>
                <p>Phone number</p>
                <p class="mt-5">Role</p>
              </div>
            </div>
            <div class="col-8">
              <form #profileForm="ngForm">
                <div class="profile-user-body">
                  <p>
                    {{ fullName }}
                  </p>

                  <p>
                    {{ address }}
                  </p>
                  <p>
                    {{ dateOfBirth }}
                  </p>
                  <p><input disabled [value]="currentUser?.phoneNumber" /></p>
                  <div class="form-group my-5">
                    <select
                      class="form-control access-right"
                      name="selectedRole"
                      [(ngModel)]="selectedRole"
                      (ngModelChange)="changeRole()"
                    >
                      <option [ngValue]="item.id" *ngFor="let item of roles">
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="profile-actions text-center">
          <button
            class="btn btn-warning btn-round-2 m-3"
            (click)="updateRole()"
          >
            Update
          </button>
          <button class="btn btn-primary btn-round-2 m-3">
            Change Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
