<app-header></app-header>
<form>
  <div class="container common-home-body">
    <form #resetPasswordForm="ngForm">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="login-form mx-auto">
            <div class="row">
              <div class="col-3 img-logo text-end">
                <img
                  role="button"
                  (click)="homeNavigate()"
                  src="https://res.cloudinary.com/dctb1eocj/image/upload/v1723453744/avatar/logo_q8zea4.png"
                />
              </div>
            </div>

            <div class="divider"></div>
            <div class="form-group mb-2">
              <label for="phoneNumber">New Password</label>
              <input
                type="text"
                class="form-control"
                name="password"
                #resetPasswordControls="ngModel"
                [(ngModel)]="password"
                placeholder="Enter your new password"
              />
            </div>

            <div class="form-group mb-2">
              <label for="phoneNumber">Confirm Password</label>
              <input
                type="text"
                class="form-control"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                (input)="checkPasswordMatched()"
                #resetPasswordControls="ngModel"
                placeholder="Confirm your password"
              />
            </div>
            <ng-container
              *ngIf="
                resetPasswordForm.controls['confirmPassword']?.hasError(
                  'passwordMismatch'
                ) && resetPasswordControls.touched
              "
            >
              <span class="text-errors-message">Password do not match</span>
            </ng-container>
            <div class="my-5 text-center">
              <button
                (click)="resetPassword()"
                class="btn btn-warning btn-round-2"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</form>

<app-footer></app-footer>
<router-outlet></router-outlet>
